@{
    ViewBag.Title = "Sistema FAC";
}


    <!DOCTYPE html>
<html lang="en">
<head>
   
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-----------------------inicio do css para administrador Menu----------------------------------------------------------->
    <style>
        /* Style The Dropdown Button */
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px 25px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            /* Links inside the dropdown */
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                /* Change color of dropdown links on hover */
                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
        body {
            background-image: url(Imagens/KAZA-FENDI-FESTAS-EVENTOS-SP.jpg);
        }
    </style>
           
  <!----------------------------fimi do css para o administrador Menu-------------------------------------------------------------->    
    
</head>

<body>

    
   
    <div class="jumbotron">
        <h1>SISTEMA FAC</h1>
    </div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sistema FAC</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Inicio</a></li>
     <li><a href="http://localhost:50542/Servico/Index">Aniversário</a></li>
      <li><a href="http://localhost:50542/Servico/Index">Casamento</a></li>
	  <li><a href="http://localhost:50542/Servico/Index">Formatura</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="http://localhost:50542/Usuario/Create"><span class="glyphicon glyphicon-user"></span> Inscrever-se</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
    </ul>
  </div>
</nav>

    <!------------------------imagem da tela principal-------------------------------------------->
   <!-- <img src="~/Imagens/KAZA-FENDI-FESTAS-EVENTOS-SP.jpg">-->
    <!-------------------------------------------------------------------->

<div class="dropdown">
    <button class="dropbtn">Administrador</button>
    <div class="dropdown-content">
        <a href="http://localhost:50542/Usuario/Create">Cadastrar Usuario</a>
        <a href="http://localhost:50542/TipoEvento/Create">Cadastrar Tipo de Eventos</a>
        <a href="http://localhost:50542/Servico/Create">Cadastrar Tipo de Serviços</a>
    </div>
</div>

</body>

</html>
  
  