@{
    ViewBag.Title = "Sobre";
}

<head>
    <style>
        body {
            background-color: blueviolet;
            color: white;
            padding: 50px;
        }
    </style>

</head>
<body>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>O Sistema FAC é um sistema para catalogar os diferentes tipos de servicos em categorias de Aniversario,Casamento,Formatura.</p>
</body>