@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>O Sistema FAC é um sistema para catalogar os diferentes tipos de servicos em categorias de Aniversario,Casamento,Formatura.</p>
